
body{
	padding:0;
	margin:0;
	background:#FFF;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;	
	padding:0;
}	
p{
	margin:0;
	padding:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
button{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
img {
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
/*-- /reset code --*/
body {
	font-family: 'Comfortaa', cursive;
}
.jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
/* full height demo */
html.demo-full-height,
html.demo-full-height body,
html.demo-full-height .jarallax,
html.demo-full-height .demo-table {
    height: 100%;
}
/*-- navigation --*/
.navbar-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 20;
}
.navbar-wrapper > .container {
	padding-right: 0;
	padding-left: 0;
}
.navbar-wrapper .navbar {
	padding-right: 15px;
	padding-left: 15px;
}
.navbar-wrapper .navbar .container {
	width: auto;
}
a.navbar-brand {
    padding: 0;
	margin-left:10px;
	height:30px;
}
a.navbar-brand  h1 {
    font-size:28px;
	font-weight:normal;
	font-family: 'Nunito', sans-serif;
	color:#fff;
}
a.navbar-brand  h1 span {
    display: block;
    text-align: center;
    font-size: 23px;
    font-weight: normal;
}
@media (min-width: 768px) {
	.navbar-wrapper {
    margin-top: 40px;
}
	.navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
}
	.navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
}
	.navbar-wrapper .navbar {
    border-radius: 4px;
}
}  

ul.nav.navbar-nav.cl-effect-18 {
    margin: 0 0 0 150px;
    

}
.search-w3ls {
	position:absolute;
	width:200px;
	right: 0px;
        top: 2px;
}
input#search2 {
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    height: 40px;
	background-color:transparent;
}
.search-w3ls button.btn.btn-default {
    width: 40px;
    height: 40px;
}
.search-w3ls input::-webkit-input-placeholder {
	color: #fff !important;
}
.search-w3ls input:-moz-placeholder { /* Firefox 18- */
	color: #fff !important;  
}
.search-w3ls input::-moz-placeholder {  /* Firefox 19+ */
	color: #fff !important;  
}
.search-w3ls input:-ms-input-placeholder {  
	color: #fff !important;  
}
.navbar-inverse {
    background-color:transparent;
    border-color:transparent;
}

.navbar-wrapper .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    font-size:21px;
    font-weight:normal;
    margin:0 10px;
    color: #fede17;
  

    text-transform: uppercase;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 15px;
}
.slice {
    margin: 66px 0;
    background-color: #fff;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: rgba(8, 8, 8, 0);
}

/* Effect 18: cross */
.cl-effect-18 {
	position: relative;
	z-index: 50;
}

.cl-effect-18 a {
	padding: 0 5px;
	color: #b4770d;
	font-weight: 700;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}





.cl-effect-18 a:hover,
.cl-effect-18 a:focus {
	color: #f7ba2d;
}

.cl-effect-18 a:hover::before,
.cl-effect-18 a:hover::after,
.cl-effect-18 a:focus::before,
.cl-effect-18 a:focus::after {
	opacity: 0.7;
    color: #fff;
}



/*-- /navigation --*/
/*-- banner section --*/
section.banner-w3ls {
	padding:0;
	margin:0;
}
section.banner-w3ls .banner-agileits {
	width:50%;
	margin-top: 400px;
}
section.banner-w3ls .banner-agileits h2 {
    font-size: 40px;
    font-weight: normal;
    line-height: 55px;
    padding-bottom: 20px;
    color: #fff;
    font-family: 'Nunito', sans-serif;
}
ul.social-icons1 {
	list-style:none;
}
ul.social-icons1 li {
	display:inline-block;
}
ul.social-icons1 li a i.fa {
	font-size: 15px;
    color: #fff;
	margin: 0 10px;	
}
ul.social-icons1 li a:hover i.fa {
    -webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}
.header {
	height:945px!important;
}
.bgfader{
	position: absolute;
	z-index: -2;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	display: none;
}
.bgfader-overlay{
	z-index: -1;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.bgfader > .image{
	display: none;
}

.bgfader, .bgfader > .image{
	width: 100%;
	height: 100%;
	background-attachment:fixed;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
/*-- /banner section --*/
/*-- info section --*/
section.info-w3l {
	border-bottom:2px solid #fede17;
}
section.info-w3l .container {
	width:auto;
}
section.info-w3l i.fa {
	font-size: 20px;
    color: #000;
	margin-left: 45px;
}
section.info-w3l .info-agile h3 {
	font-size:20px;
	font-weight:normal;
	color:#000;
	padding-bottom:10px;
	font-family: 'Nunito', sans-serif;
}
section.info-w3l .info-agile p {
	font-size:14px;
	font-weight:normal;
	color:#fff;
	line-height:30px;
}
.col-lg-4.col-md-4.col-sm-12.info-wthree1,.col-lg-4.col-md-4.col-sm-12.info-wthree2,.col-lg-4.col-md-4.col-sm-12.info-wthree3 {
	position:relative;
	padding:30px 0;
}
.col-lg-4.col-md-4.col-sm-12.info-wthree1 {
	background-color:#2dd1f7;
}
.col-lg-4.col-md-4.col-sm-12.info-wthree2 {
	background-color:#f72d2d;
}
.col-lg-4.col-md-4.col-sm-12.info-wthree3 {
	background-color:#f7ba2d;
}
section.info-w3l .col-lg-4.col-md-4.col-sm-12.info-wthree1:hover i.fa,section.info-w3l .col-lg-4.col-md-4.col-sm-12.info-wthree2:hover i.fa,section.info-w3l .col-lg-4.col-md-4.col-sm-12.info-wthree3:hover i.fa {
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
} 
.col-lg-4.col-md-4.col-sm-12.info-wthree1 hr {
    margin-top: 30px;
    margin-bottom: -32px;
    border: 0;
    border-top: 2px solid #177b92;
}
.col-lg-4.col-md-4.col-sm-12.info-wthree2 hr {
    margin-top: 30px;
    margin-bottom: -32px;
    border: 0;
    border-top: 2px solid #a01c1c;
}
.col-lg-4.col-md-4.col-sm-12.info-wthree3 hr {
    margin-top: 30px;
    margin-bottom: -32px;
    border: 0;
    border-top: 2px solid #a77d1d;
}
/*-- /info section --*/
/*-- services section --*/
section.service-w3l {
	padding:100px 0;
}
section.service-w3l h3 {
	font-size:40px;
	font-weight:normal;
	color:#000;
	padding:110px 0 20px;
	font-family: 'Nunito', sans-serif;
}
section.service-w3l p.serv-p1 {
	font-size: 20px;
    font-weight: normal;
    color: #999;
    line-height: 40px;
}
section.service-w3l i.fa {
	font-size:30px;
	color:#2dd1f7;
	margin-bottom: 20px;
}
section.service-w3l h4 {
	font-size: 23px;
    font-weight: normal;
    color: #000;
    padding-bottom: 20px;
    font-family: 'Nunito', sans-serif;
}
section.service-w3l p.serv-p2 {
	font-size:14px;
	font-weight:normal;
	line-height:30px;
	color:#999;
}
section.service-w3l .col-xs-4.serv-agile1,section.service-w3l .col-xs-4.serv-agile2,section.service-w3l .col-xs-4.serv-agile3 {
	padding-bottom:30px;
}
section.service-w3l .col-xs-4.serv-agile1:hover i.fa,section.service-w3l .col-xs-4.serv-agile2:hover i.fa,section.service-w3l .col-xs-4.serv-agile3:hover i.fa,section.service-w3l .col-xs-4.serv-agile4:hover i.fa,section.service-w3l .col-xs-4.serv-agile5:hover i.fa,section.service-w3l .col-xs-4.serv-agile6:hover i.fa {
    -webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*-- /services section --*/
/*-- About Section --*/
section.about-agileits {
	background:#f7ba2d;
}
section.about-agileits .container {
	width:auto;
	padding:0;
}
.col-lg-6.col-md-6.col-sm-12.about-w3ls1,.col-lg-6.col-md-6.col-sm-12.about-w3ls2 {
	padding:0;
}
.column {
	margin: 0;
	padding: 0;
}
.column::after {
	content: '';
	clear: both;
	display: block;
}
.column div {
	position: relative;
	width:100%;
	height:auto;
	margin: 0 auto;
	padding: 0;
}
.column div:first-child {
	margin-left: 0;
}
figure {
	width:100%;
	height:auto;
	margin: 0 auto;
	padding: 0;
	background: #fff;
	overflow: hidden;
}
.hover01 figure img {
	-webkit-transform: scale(1);
	-moz-transform:scale(1);
	-o-tranform:scale(1);
	-ms-tranform:scale(1);
	transform: scale(1);
	width:100%;
	-webkit-transition:all 1.0s ease-in-out;
	transition:all 1.0s ease-in-out;
	-moz-transition:all 1.0s ease-in-out;
	-o-transition:all 1.0s ease-in-out;
	-ms-transition:all 1.0s ease-in-out;
}
section.about-agileits:hover .hover01 figure img {
	-webkit-transform: scale(1.5);
	-moz-transform:scale(1.5);
	-o-tranform:scale(1.5);
	-ms-tranform:scale(1.5);
	transform: scale(1.5);
}
section.about-agileits .about-w3l {
    padding: 110px 50px 0;
}
section.about-agileits h3 {
	font-size:30px;
	font-weight:normal;
	color:#000;
	text-transform:capitalize;
	line-height:40px;
	font-family: 'Nunito', sans-serif;
	padding-bottom:20px;
}
section.about-agileits h3 span.fa.fa-diamond {
    font-size: 25px;
	color:#f72d2d;
}
section.about-agileits p {
	font-size:16px;
	font-weight:normal;
	color:#fff;
	line-height:30px;
	padding-bottom:20px;
}
section.about-agileits ul.about-links {
	list-style:none;
}
section.about-agileits ul.about-links li {
	display:inline-block;
}
section.about-agileits ul.about-links li:nth-child(1) {
	margin-right:10px;
}
section.about-agileits ul.about-links li a.about-link1,section.about-agileits ul.about-links li a.about-link2 {
	text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    background-color: #f72d2d;
    width: 200px;
	outline:none;
    text-align: center;
    line-height: 39px;
    display: block;
    height: 40px;
	font-family: 'Nunito', sans-serif;
	border-radius:25px;
	-webkit-border-radius:25px;
	-moz-border-radius:25px;
	-o-border-radius:25px;
	-ms-border-radius:25px;
}
section.about-agileits ul.about-links li a.about-link1:hover,section.about-agileits ul.about-links li a.about-link2:hover {
	background-color:#a51c1c;
	color:#fff;
}
section.about-agileits .modal-content {
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
}
section.about-agileits .modal-header {
	background:#f72d2d;
}
section.about-agileits .modal-header h4 {
    color: white;
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
	font-family: 'Nunito', sans-serif;
}
section.about-agileits .modal-footer {
	background: #2b2b2b;
}
section.about-agileits .modal-body p {
	font-size:14px;
	font-weight:normal;
	color:#999;
	line-height:30px;
	padding:20px 0;
}
section.about-agileits button.close {
    font-size: 60px;
    font-weight: 300;
    position: absolute;
    right: 20px;
    top: 1px;
}
section.about-agileits button.btn.btn-default {
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    background-color:#f7ba2d;
}
/*-- /About Section --*/

/*-- /Staff section --*/
/*-- subscribe section --*/
section.subs {
    padding: 100px 0;
	background:url(../images/subscribe.jpg);
	background-position:center;
	background-repeat:no-repeat;
	background-size:100% 100%;
	-webkit-background-size:100% 100%;
	-moz-background-size:100% 100%;
	-o-background-size:100% 100%;
	-ms-background-size:100% 100%;
}
section.subs h3{
	font-size:35px;
	font-weight:normal;
	padding-bottom:35px;
	color:#fff;
	position:relative;
	font-family: 'Nunito', sans-serif;
	text-transform:uppercase;
}
section.subs h3:after {
	content:'';
	position:absolute;
	background-color:#fff;
	width:20%;
	height:2px;
	left:0;
	bottom:20%;
}
section.subs p {
	font-size:16px;
	font-weight:normal;
	line-height:35px;
	color:#fff;
}
.subscribe {
    margin-top: 89px;
}
section.subs .subscribe input#mail {
    text-align: center;
    width: 70%;
	float:left;
	color:#fff;
	background-color:transparent;
    font-size: 20px;
    font-weight: normal;
    height: 50px;
    outline: none;
	border:1px solid #fff;
    border-right: transparent;
	border-radius:0;
	font-family: 'Comfortaa', cursive;
}
section.subs .subscribe button.btn.btn-outline.btn-lg {
    width:30%;
	float:left;
    height: 50px;
    font-size: 20px;
    font-weight: normal;
    outline: none;
    color: #fff;
	border:1px solid #fff;
    background-color:#f72d2d;
	border-radius:0;
	text-transform: uppercase;
	font-family: 'Nunito', sans-serif;
}
section.subs .subscribe button.btn.btn-outline.btn-lg:hover {
	background-color:#CA2E15;
}
section.subs input::-webkit-input-placeholder {
color: #fff !important;
}
 
section.subs input:-moz-placeholder { /* Firefox 18- */
color: #fff !important;  
}
 
section.subs input::-moz-placeholder {  /* Firefox 19+ */
color: #fff !important;  
}
 
section.subs input:-ms-input-placeholder {  
color: #fff !important;  
}
/*-- /subscribe section --*/
/*-- portfolio section --*/
section.portfolio-agileinfo {
	padding:100px 0;
}
section.portfolio-agileinfo h3.text-center {
	font-size:40px;
	font-weight:normal;
	color:#000;
	font-family: 'Nunito', sans-serif;
	padding-bottom:50px;
}
section.portfolio-agileinfo  .portfolio-grids {
    padding: 0;
}
/******** SAP ************/
section.portfolio-agileinfo .sap_tabs{
	clear:both;
	padding: 0;
}
section.portfolio-agileinfo .tab_box{
	background:#fd926d;
	padding: 2em;
}
section.portfolio-agileinfo .top1{
	margin-top: 2%;
}
section.portfolio-agileinfo .resp-tabs-list {
    list-style: none;
    padding: 4em 0 3em;
    margin: 0 auto;
    text-align: center;
}
section.portfolio-agileinfo .resp-tab-item {
    color: #333;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    text-align: center;
    list-style: none;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-transform: uppercase;
    margin: 0 1.5em 0;
}
section.portfolio-agileinfo .resp-tab-active {
    text-shadow: none;
    color: #fc4f6b;
    border-bottom: 2px solid;
}
section.portfolio-agileinfo .resp-tabs-container {
	padding: 0px;
	clear: left;	
}
section.portfolio-agileinfo .resp-tab-content {
	display: none;
}
section.portfolio-agileinfo .resp-content-active,section.portfolio-agileinfo .resp-accordion-active {
   display: block;
}
section.portfolio-agileinfo .portfolio-grids a {
    display: block;
    overflow: hidden;
	position:relative;
}
section.portfolio-agileinfo .portfolio-grids img.img-responsive {
    width: 100%;
}
section.portfolio-agileinfo .b-wrapper {
    background:rgba(0,0,0, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -100%;
    left: 0;
	padding: 2em;
	transition:.5s all;
	text-align:center;
}
section.portfolio-agileinfo .portfolio-grids a:hover .b-wrapper{
	bottom: 0%;
}
section.portfolio-agileinfo i.fa.fa-search-plus {
    color: #fff;
    font-size: 40px;
    padding-top:45px;
}
section.portfolio-agileinfo .b-wrapper h5 {
    font-size:25px;
	font-weight:normal;
    color: #fff;
    text-align: center;
    padding:14px 0;
	font-family: 'Nunito', sans-serif;
}
section.portfolio-agileinfo .b-wrapper p{
	font-size: 14px;
    color: #fff;
    font-weight: 400;
    line-height: 1.8em;
    text-align: center;
}
section.portfolio-agileinfo .gallery-grids{
	margin:0;
}
section.portfolio-agileinfo .nav-tabs > li.active > a,section.portfolio-agileinfo .nav-tabs > li.active > a:hover,section.portfolio-agileinfo .nav-tabs > li.active > a:focus {
    color:#000;
    cursor:pointer;
	border:none;
	background-color:transparent;
}
section.portfolio-agileinfo .nav-tabs > li > a {
	margin:0px;
    border-radius: 0;
    font-size: 17px;
    color: #fff;
	border:none;
	background-color:#f72d2d;
    font-weight: normal;
}	
section.portfolio-agileinfo .nav-tabs {
    border-bottom: none;
	margin: 0 0 40px;
}
section.portfolio-agileinfo .nav-tabs > li {
    margin-bottom: 0;
	border:1px solid #cccccc;
	border-left:none;
}
section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
	margin-left:44em;
	border-left:1px solid #cccccc;
}
section.portfolio-agileinfo .nav > li > a:hover,section.portfolio-agileinfo .nav > li > a:focus {
    color:#000;
	background-color:transparent;
}	
/*-- /portfolio section --*/
/*-- contact section --*/
section.contact-wthree {
	background:url(../images/contact.jpg) no-repeat;
	background-position:center;
	background-attachment:fixed;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	padding:100px 0;
}

section.contact-wthree img.center {
    display: block;
    margin: 0 auto;
}
section.contact-wthree h3.text-center {
	font-size:40px;
	font-weight:normal;
	color:#fff;
	font-family: 'Nunito', sans-serif;
	padding-bottom:50px;
}
section.contact-wthree h4 {
	font-size:30px;
	font-weight:normal;
	color:#fff;
	font-family: 'Nunito', sans-serif;
	padding-bottom:20px;
	padding-top: 40px;
}
section.contact-wthree p.contact-agile {
	font-size:17px;
	font-weight:normal;
	color:#fff;
}
section.contact-wthree ul.contact-info {
    list-style: none;
	padding:30px 0;
	text-align: center;
}
section.contact-wthree ul.contact-info li {
	display:inline-block;
	margin-right:40px;
}
section.contact-wthree ul.contact-info li i.fa {
	font-size:40px;
	color:#2dd1f7;
	text-align:left;
	display:block;
}
section.contact-wthree ul.contact-info li p.contact-p1,section.contact-wthree ul.contact-info li p.contact-p2 {
    font-size: 15px;
    font-weight: normal;
    color: #fff;
}
section.contact-wthree  p.contact-p1 {
       font-size: 20px;
}
section.contact-wthree ul.contact-info li p.contact-p2 {
	margin: 0px 0 0px 50px;
}
section.contact-wthree ul.contact-info li p.contact-p1 a,section.contact-wthree ul.contact-info li p.contact-p2 a {
	text-decoration:none;
	color:#fff;
}
section.contact-wthree input#name, section.contact-wthree input#phone, section.contact-wthree input#email, section.contact-wthree textarea#message {
	font-size: 17px;
    font-weight: normal;
    color: #fff;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.43);
    outline: none;
	margin-bottom:30px;
}
section.contact-wthree input#name:focus, section.contact-wthree input#phone:focus, section.contact-wthree input#email:focus, section.contact-wthree textarea#message:focus {
	background-color:rgba(87, 85, 60, 0.33);
    border: 1px solid #fff;
	color:#fff;	
}
section.contact-wthree input#name, section.contact-wthree input#phone, section.contact-wthree input#email {
	height:50px;
}
section.contact-wthree label {
	font-size:18px;
	font-weight:normal;
	color:#fff;
	text-transform:uppercase;
	padding-bottom:10px;
	font-family: 'Nunito', sans-serif;
}
section.contact-wthree button.btn.btn-primary {
    width: 30%;
    margin: 0 auto;
    height: 50px;
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    color: #fff;
    display: block;
	background-color:#f72d2d;
	border-color:#f72d2d;
    outline: none;
	font-family: 'Nunito', sans-serif;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}
section.contact-wthree button.btn.btn-primary:hover {
	color: #fff;
    background-color:rgb(177, 30, 30);
	border-color:rgb(177, 30, 30);
}
/*-- /contact section --*/
/*-- map section --*/
.map iframe.googlemaps {
	width:100%;
	height:400px;
}
/*-- /map section --*/
/*-- footer section --*/
section.footer-wthree {
	background:url(../images/footer.jpg) no-repeat;
	background-position:center;
	background-attachment:fixed;
	background-size:100% 100%;
	-webkit-background-size:100% 100%;
	-moz-background-size:100% 100%;
	-o-background-size:100% 100%;
	-ms-background-size:100% 100%;
	position:relative;
}
section.footer-wthree h3 {
	font-size:25px;
	font-weight:normal;
	color:#fff;
	text-align: center;
	padding:10px 0;
	font-family: 'Nunito', sans-serif;
	text-transform:uppercase;
}
span.line1,span.line2,span.line3,span.line4,span.line5 {
    position: absolute;
    background-color:#524c4c;
    height: 2px;
}
span.line1 {
    width:100%;
	left: 0px;
}
span.line2 {
	left:0px;
	width:100%;
}
span.line3 {
	left:0px;
	width:100%;
}
span.line4 {
	left:0px;
	width:100%;
	display:none
}
span.line5 {
	left:0px;
	width:100%;
	display:none;
}
section.footer-wthree .col-lg-4.col-md-4.col-sm-12.footer-grid {
    position: static;
}
section.footer-wthree ul.tweet-agile {
	list-style:none;
	padding:10px 0;
}
section.footer-wthree ul.tweet-agile li:nth-child(1) {
	padding-bottom:10px;
}
section.footer-wthree ul.tweet-agile li i.fa.fa-twitter-square {
    font-size: 45px;
	color:#f72d2d;
	display:inline-block;
}
section.footer-wthree ul.tweet-agile li p.tweet-p1 {
    font-size: 15px;
    font-weight: normal;
    margin: -48px 0 10px 44px;
    line-height: 30px;
	color:#fff;
}
section.footer-wthree ul.tweet-agile li p.tweet-p1 a {
	text-decoration:none;
	color:#3ba2c1;
}
section.footer-wthree ul.tweet-agile li p.tweet-p2 {
	font-size:13px;
	font-weight:normal;
	font-style:italic;
	color:#fff;
}
section.footer-wthree .demo { 
	margin: 30px auto; 
	width:100%;
}
section.footer-wthree .demo > li {
	display: inline-block;
    margin: 0px 1px;
}
section.footer-wthree .demo > li img { 
	width: 110px;
    cursor: pointer;
    border-radius: 10px;
}
section.footer-wthree ul.footer-news {
    width: 100%;
	padding:30px 0;
}
section.footer-wthree ul.footer-news li {
	width:100%;
}
section.footer-wthree ul.footer-news li .news-content {
    width: 70%;
    float: left;
}
section.footer-wthree ul.footer-news li .news-content a.news-header {
    text-decoration: none;
	margin-bottom:10px;
	display: inline-block;
}
section.footer-wthree ul.footer-news li .news-content a.news-header h4 {
	font-size:22px;
	font-weight:normal;
	font-family: 'Nunito', sans-serif;
	color: #f72d2d;
}
section.footer-wthree ul.footer-news li .news-content p.news-p1 {
    font-size: 14px;
    font-weight: lighter;
    line-height: 30px;
    padding-bottom: 10px;
    color: #fff;
}
section.footer-wthree ul.footer-news li .news-content p.news-p2 {
    font-size: 13px;
    font-weight: lighter;
    color: #f7ba2d;
    font-style:italic;
	padding-bottom:30px;
}
section.footer-wthree ul.footer-news li .news-pic {
    width: 30%;
    float: left;
}
section.footer-wthree ul.footer-news li .news-pic a {
	cursor:pointer;
}
section.footer-wthree .modal-content {
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
}
section.footer-wthree .modal-header {
	background:#f72d2d;
}
section.footer-wthree .modal-header h4 {
    color: white;
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
	font-family: 'Nunito', sans-serif;
}
section.footer-wthree .modal-footer {
	background: #2b2b2b;
}
section.footer-wthree .modal-body p {
	font-size:14px;
	font-weight:normal;
	color:#999;
	line-height:30px;
	padding:20px 0;
}
section.footer-wthree button.close {
    font-size: 60px;
    font-weight: 300;
    position: absolute;
    right: 20px;
    top: 10px;
}
section.footer-wthree button.btn.btn-default {
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    background-color:#f7ba2d;
}
span.line6 {
	position: absolute;
	background-color:#524c4c;
	width:100%;
	height:2px;
    left: 0px;
    bottom: 60px;
}
section.footer-wthree p.copyright {
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
section.footer-wthree p.copyright a {
	color:#ffffff;
	text-decoration:none;
}
section.footer-wthree p.copyright a:hover {
	color:#0000ff;
}
/*-- /footer section --*/
/*-- back to top --*/
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.55) url(../images/cd-top-arrow.svg) no-repeat center 50%;
  background-size:70%;
  border:1px solid #fff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.cd-top:hover {
  background-color: #000;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 40px;
    width: 40px;
    right: 30px;
    bottom: 30px;
  }
}
/*-- /back to top --*/

/*-- responsive design --*/
@media (max-width:1600px) {
	.header {
    height: 790px!important;
}
section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
    margin-left: 41em;
}
section.banner-w3ls .banner-agileits {
	margin-top:350px;
}
}

@media (max-width:1440px) {
section.about-agileits .about-w3l {
    padding: 80px 50px 0;
}
section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
    margin-left: 35em;
}
}

@media (max-width: 1366px) {
section.about-agileits .about-w3l {
    padding: 60px 50px 0;
}
section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
    margin-left: 32em;
}
section.portfolio-agileinfo i.fa.fa-search-plus {
    padding-top: 25px;
}
}

@media (max-width: 1280px) {
section.info-w3l i.fa {
	margin-left:30px;
}
section.about-agileits .about-w3l {
    padding: 45px 40px 0;
}
section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
    margin-left: 29em;
}
}

@media (max-width: 1080px) {
.header {
    height: 700px!important;
}
.navbar-wrapper .nav>li>a {
	padding: 7px 10px;
    font-size: 14px;
	margin: 0 14px;
}
ul.nav.navbar-nav.cl-effect-18 {
    margin: 0 0 0 5px;
}
section.banner-w3ls .banner-agileits h2 {
    font-size: 35px;
    font-weight: 100;
}
section.banner-w3ls .banner-agileits {
    margin-top: 300px;
}
input#search2 {
    font-size: 14px;
}
section.info-w3l i.fa {
    margin-left: 15px;
}
section.service-w3l,section.staff-agileinfo,section.subs,section.portfolio-agileinfo,section.contact-wthree {
    padding: 70px 0;
}
section.service-w3l h3 {
    font-size: 35px;
	text-align:center;
	font-weight: 100;
	padding:0 0 20px;
}
section.service-w3l p.serv-p1 {
    font-size: 14px;
	text-align:center;
	padding-bottom:30px;
	line-height:30px;
}
section.service-w3l .col-xs-4.serv-agile1, section.service-w3l .col-xs-4.serv-agile2, section.service-w3l .col-xs-4.serv-agile3 {
    padding-bottom: 30px;
    text-align: center;
}
section.service-w3l .col-xs-4.serv-agile4,section.service-w3l .col-xs-4.serv-agile5,section.service-w3l .col-xs-4.serv-agile6 {
	text-align:center;
}
section.about-agileits h3 {
    font-size: 25px;
    font-weight: 100;
	padding-bottom: 15px;
}
section.about-agileits p {
    font-size: 14px;
	padding-bottom:10px;
}
section.about-agileits .about-w3l {
    padding: 25px 40px 0;
}
section.about-agileits ul.about-links li a.about-link1, section.about-agileits ul.about-links li a.about-link2 {
	width: 155px;
	font-size: 15px;
	line-height: 34px;
	height: 35px;
}   
section.staff-agileinfo h3.text-center {
    font-size: 35px;
    font-weight: 100;
}
.view h4 {
	font-size:15px;
	margin: 20px 0 0 0;
}
.view ul.team-social li a i.fa {
    width: 30px;
    height: 30px;
	line-height:30px;
	font-size:16px;
}
.view ul.team-social {
	padding:20px 0;
}
.view p.info {
	font-size:14px;
}
section.subs h3 {
    font-size: 30px;
    font-weight: 100;
}
section.subs p {
    font-size: 14px;
	line-height:30px;
}
section.subs .subscribe input#mail {
	font-size:16px;
}
section.subs .subscribe button.btn.btn-outline.btn-lg {
	font-size:17px;
	font-weight:100;
}
.subscribe {
    margin-top: 70px;
}
section.portfolio-agileinfo h3.text-center {
    font-size: 35px;
    font-weight: 100;
	padding-bottom: 35px;
}
section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
    margin-left: 23em;
}
section.portfolio-agileinfo .nav-tabs > li > a {
	font-size: 15px;
    padding: 10px 15px;
}
section.portfolio-agileinfo i.fa.fa-search-plus {
	font-size: 35px;
    padding-top:0px;
}
section.portfolio-agileinfo .b-wrapper h5 {
    font-size: 22px; 
	padding:7px 0;
}
section.contact-wthree h3.text-center {
    font-size: 35px;
    font-weight: 100;
}
section.contact-wthree h4 {
    font-size: 28px;
    font-weight: 100;
}
section.contact-wthree p.contact-agile {
    font-size: 14px;
	padding-bottom:30px;
}
section.contact-wthree ul.contact-info li p.contact-p1, section.contact-wthree ul.contact-info li p.contact-p2 {
    font-size: 14px;
}
section.contact-wthree ul.contact-info li p.contact-p1 {
    margin: -41px 0 10px 50px;
}
section.contact-wthree label {
    font-size: 16px;
    font-weight: 100;
}
section.footer-wthree h3 {
    font-size: 22px;
    font-weight: 100;
}
section.footer-wthree ul.tweet-agile li p.tweet-p1 {
    font-size: 14px;
}
section.footer-wthree .demo > li img {
    width: 85px;
}
section.footer-wthree ul.footer-news li .news-content a.news-header h4 {
    font-size: 20px;
    font-weight: 100;
}
section.footer-wthree ul.footer-news li .news-content p.news-p1 {
    font-size: 13px;
}
section.footer-wthree ul.footer-news li .news-content a.news-header {
	margin-bottom:5px;
}
section.footer-wthree ul.footer-news li .news-content p.news-p2 {
    font-size: 12px;
}
section.footer-wthree p.copyright {
    font-size: 14px;
}
.search-w3ls {
	top:-2px;
}
}

@media (max-width: 1050px) {
ul.nav.navbar-nav.cl-effect-18 {
    margin: 0 0 0 15px;
}
}

@media (max-width: 1024px) {
.header {
    height: 675px!important;
}
section.about-agileits h3 {
    font-size: 25px;
    font-weight: 100;
    padding-bottom: 10px;
}
section.service-w3l h4 {
    font-size: 20px;
    font-weight: 100;
	padding-bottom:10px;
}
section.service-w3l, section.staff-agileinfo, section.subs, section.portfolio-agileinfo, section.contact-wthree {
    padding: 50px 0;
}
section.staff-agileinfo h3.text-center {
	padding-bottom:35px;
}
section.subs .subscribe button.btn.btn-outline.btn-lg {
    font-size: 15px;
    font-weight: 100;
}
section.subs .subscribe input#mail {
    font-size: 15px;
}
section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
    margin-left: 21.5em;
}
section.portfolio-agileinfo .b-wrapper {
	padding:1em;
}
section.contact-wthree h3.text-center {
	padding-bottom:35px;
}
section.contact-wthree button.btn.btn-primary {
	font-size:18px;
	font-weight:100;
	height:45px;
}
}

@media (max-width:991px) {
a.navbar-brand {
    padding: 0;
    margin-left:-70px;
	margin-bottom:0px;
}
.header {
    height: 600px!important;
}
section.banner-w3ls .banner-agileits {
    margin-top: 250px;
}
section.info-w3l i.fa {
    margin-left: 86px;
}
.col-lg-6.col-md-6.col-sm-12.about-w3ls1 img.img-responsive {
	height:450px;
}
section.about-agileits .about-w3l {
    padding: 35px 40px;
}
.view h4 {
    font-size: 17px;
    margin: 85px 0 0 0;
}
.col-lg-3.col-md-3.col-sm-6.col-xs-6.team-agile1,.col-lg-3.col-md-3.col-sm-6.col-xs-6.team-agile2 {
	margin-bottom:30px;
}
.subscribe {
    margin-top: 30px;
}
section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
    margin-left: 20.5em;
}
section.portfolio-agileinfo i.fa.fa-search-plus {
    font-size: 40px;
    padding-top: 115px;
}
section.contact-wthree h4 {
	padding-top:7px;
}
section.contact-wthree p.contact-agile {
	padding-bottom:30px;
}
span.line4,span.line5 {
	display:block;
}
section.footer-wthree .demo {
	text-align:center;
}
section.footer-wthree ul.footer-news li .news-pic img.img-responsive {
	width:100px;
	height:auto;
}  
section.footer-wthree .modal-header h4 {
	font-size: 25px;
    font-weight: 100;
}
.modal-header {
    padding: 10px;
}
section.footer-wthree button.close {
    font-size: 50px; 
	right: 20px;
    top: 4px;
}
.search-w3ls {
    top: -2px;
	width: 175px;
    right: -107px;
}
section.footer-wthree ul.tweet-agile li p.tweet-p2 {
	margin-left:47px;
}
.navbar-wrapper .nav>li>a {
    padding: 7px 10px;
    font-size: 14px;
    margin: 0 11px;
}
}

@media (max-width: 900px) {
a.navbar-brand {
	margin-left:0;
	margin-bottom:30px;
}
.navbar-nav>li {
    float: none;
    display: inline-block;
}
.navbar-header {
    float: none;
}
ul.nav.navbar-nav.cl-effect-18 {
	margin:0 auto;
	text-align:center;
	float:none;
}
.navbar-wrapper .nav>li>a {
    padding: 7px 15px;
    font-size: 15px;
    margin: 0 15px;
}
section.banner-w3ls .banner-agileits {
    margin-top: 300px;
    width: 100%;
}
section.banner-w3ls .banner-agileits h2 {
    font-size: 30px;
    font-weight: 100;
    text-align: center;
}
ul.social-icons1 {
    list-style: none;
    text-align: center;
}
section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
    margin-left: 18em;
}
section.portfolio-agileinfo i.fa.fa-search-plus {
    font-size: 40px;
    padding-top: 90px;
}
section.portfolio-agileinfo .nav-tabs > li > a {
    font-size: 14px;
}
section.contact-wthree h4 {
    font-size: 25px;
	padding:10px 0;
}
section.contact-wthree ul.contact-info li p.contact-p1, section.contact-wthree ul.contact-info li p.contact-p2 {
    font-size: 13px;
}
section.contact-wthree ul.contact-info {
	margin-top:80px;
}
section.footer-wthree ul.tweet-agile li p.tweet-p2 {
	margin-left:50px;
}
section.footer-wthree ul.tweet-agile li p.tweet-p1 {
	margin: -48px 0 5px 44px;
}
.search-w3ls {
    top: -2px;
    width: 185px;
    right: 0px;
}
}

@media (max-width: 800px) {
.header {
    height: 520px!important;
}
a.navbar-brand {
    margin-bottom: 20px;
}
section.banner-w3ls .banner-agileits {
    margin-top: 260px;
    width: 100%;
}
.view h4 {
    font-size: 17px;
    margin: 75px 0 0 0;
}
section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
    margin-left: 14.5em;
}
section.portfolio-agileinfo i.fa.fa-search-plus {
    font-size: 40px;
    padding-top: 80px;
}
.search-w3ls {
    top: -10px;
    width: 200px;
    right: 0px;
}
}

@media (max-width:768px) {
.bgfader, .bgfader > .image {
	background-attachment:initial;
}
.header {
    height: 440px!important;
}
section.banner-w3ls .banner-agileits {
    margin-top: 215px;
}
section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
    margin-left: 14em;
}
section.portfolio-agileinfo i.fa.fa-search-plus {
    font-size: 40px;
    padding-top: 70px;
}
}

@media (max-width:767px) {
.navbar-nav>li {
	display:block;	
}
a.navbar-brand {
	margin:20px 0 0 20px;
}
.search-w3ls {
	right: 120px;
    top: 15px;
}
.navbar-toggle {
	margin-top: 17px;
    margin-right: 20px;
	border: 1px solid #fff!important;
}
.navbar-wrapper .nav>li>a {
    padding: 3px 15px;
    font-size: 15px;
    margin: 15px 0px;
    display: inline-block;
    width: 100px;
}
ul.nav.navbar-nav.cl-effect-18 {
	background-color:rgba(0,0,0,0.85);
	z-index:99;
	padding:1em 0;
}
}

@media (max-width:736px) {
.header {
    height: 350px!important;
}
section.banner-w3ls .banner-agileits {
    margin-top: 140px;
}
.col-lg-6.col-md-6.col-sm-12.about-w3ls1 img.img-responsive {
    height: 370px;
}
section.about-agileits ul.about-links {
	text-align:center;
}
section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
    margin-left: 12em;
}
section.portfolio-agileinfo i.fa.fa-search-plus {
    font-size: 40px;
    padding-top: 50px;
}
section.contact-wthree img.img-circle.img-responsive {
	width:100px;
	height:100px;
	margin:0 auto;
}
section.contact-wthree h4 {
    font-size: 25px;
    padding: 10px 0;
    text-align: center;
}
section.contact-wthree p.contact-agile {
    padding-bottom: 30px;
    text-align: center;
}
section.contact-wthree ul.contact-info {
	margin-top:0;
	padding:0 0 30px;
}
section.contact-wthree label {
    font-size: 14px;
}
section.contact-wthree input#name, section.contact-wthree input#phone, section.contact-wthree input#email {
    height: 40px;
}
textarea.form-control {
    height: 200px;
}
section.contact-wthree button.btn.btn-primary {
    font-size: 16px;
    font-weight: 100;
    height: 40px;
}
.map iframe.googlemaps {
    width: 100%;
    height: 300px;
}
}

@media (max-width: 667px) {
.header {
    height: 311px!important;
}
section.banner-w3ls .banner-agileits {
    margin-top: 115px;
}
section.banner-w3ls .banner-agileits h2 {
    font-size: 25px;
}
section.info-w3l i.fa {
    margin-left: 55px;
}
section.service-w3l .col-xs-4.serv-agile1, section.service-w3l .col-xs-4.serv-agile2, section.service-w3l .col-xs-4.serv-agile3, section.service-w3l .col-xs-4.serv-agile4, section.service-w3l .col-xs-4.serv-agile5, section.service-w3l .col-xs-4.serv-agile6 {
	width:100%;
	float:left;
}
section.service-w3l .col-xs-4.serv-agile4, section.service-w3l .col-xs-4.serv-agile5 {
	padding-bottom:30px;
}
.view h4 {
	margin: 50px 0 0 0;
}
section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
    margin-left: 9em;
}
section.portfolio-agileinfo i.fa.fa-search-plus {
    font-size: 40px;
    padding-top: 40px;
}
section.contact-wthree ul.contact-info li {
	margin:0 15px;
}
.map iframe.googlemaps {
    height: 250px;
}
section.footer-wthree h3 {
	padding:15px 0;
}
}

@media (max-width: 640px) {
section.service-w3l, section.staff-agileinfo, section.subs, section.portfolio-agileinfo, section.contact-wthree {
    padding: 30px 0;
}
section.service-w3l h3 {
    font-size: 30px;
	padding-bottom:15px;
}
section.contact-wthree ul.contact-info li {
    margin: 0 10px;
}
}

@media (max-width: 600px) {
.view h4 {
    margin: 40px 0 0 0;
}
section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
    margin-left: 7em;
}
section.contact-wthree ul.contact-info li {
    margin: 0 7px;
}
section.portfolio-agileinfo i.fa.fa-search-plus {
    font-size: 40px;
    padding-top: 35px;
}
}

@media (max-width: 568px) {
.header {
    height: 256px!important;
}
section.banner-w3ls .banner-agileits h2 {
    font-size: 25px;
	padding-bottom:5px;
}
.col-lg-6.col-md-6.col-sm-12.about-w3ls1 img.img-responsive {
    height: 310px;
}
.view h4 {
    margin: 33px 0 0 0;
}
section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
    margin-left: 5.5em;
}
section.portfolio-agileinfo i.fa.fa-search-plus {
    font-size: 40px;
    padding-top: 20px;
}
section.contact-wthree ul.contact-info li {
    margin: 0 2px;
}
section.contact-wthree input#name, section.contact-wthree input#phone, section.contact-wthree input#email, section.contact-wthree textarea#message {
    margin-bottom: 15px;
}
}

@media (max-width:480px) {
.search-w3ls {
    right: 35px;
    top: 61px;
	width:391px
}
section.banner-w3ls .banner-agileits h2 {
    font-size: 20px;
    padding-bottom: 5px;
}
section.info-w3l i.fa {
    margin-left: 30px;
}
section.service-w3l p.serv-p1 {
	padding-bottom:20px;
}
section.service-w3l i.fa {
	margin-bottom:15px;
}
.col-lg-6.col-md-6.col-sm-12.about-w3ls1 img.img-responsive {
    height: 280px;
}
.col-lg-3.col-md-3.col-sm-6.col-xs-6.team-agile1, .col-lg-3.col-md-3.col-sm-6.col-xs-6.team-agile2, .col-lg-3.col-md-3.col-sm-6.col-xs-6.team-agile3, .col-lg-3.col-md-3.col-sm-6.col-xs-6.team-agile4 {
	width:100%;
	float:left;
}
.col-lg-3.col-md-3.col-sm-6.col-xs-6.team-agile3 {
    margin-bottom: 30px;
}
.view h4 {
    margin: 115px 0 0 0;
}
section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
    margin-left: 2.5em;
}
section.portfolio-agileinfo h3.text-center {
    font-size: 30px;
    padding-bottom: 25px;
}
section.portfolio-agileinfo i.fa.fa-search-plus {
    font-size: 30px;
    padding-top: 0px;
}
section.contact-wthree ul.contact-info li {
    margin: 0 auto;
    width: 50%;
}
section.contact-wthree ul.contact-info li p.contact-p1 {
    margin: -41px 0 5px 0px;
}
section.contact-wthree ul.contact-info li p.contact-p2 {
    margin: 0px 0 15px 0px;
}
section.contact-wthree ul.contact-info li p.contact-p1 a, section.contact-wthree ul.contact-info li p.contact-p2 a {
	margin-left:33px;
}
section.contact-wthree p.contact-agile {
    padding-bottom: 15px;
}
section.contact-wthree ul.contact-info {
    margin-top: 0;
    padding: 0 0 15px;
}
textarea.form-control {
    height: 150px;
}
section.contact-wthree button.btn.btn-primary {
    font-size: 15px;
    font-weight: 100;
    height: 40px;
    width: 100%;
}
section.footer-wthree h3 {
    font-size: 20px;
    font-weight: 100;
}
}

@media (max-width: 414px) {
.search-w3ls {
    right: 35px;
    top: 61px;
    width: 325px;
}
section.service-w3l h3 {
    font-size: 30px;
    padding-bottom: 10px;
}
.col-lg-6.col-md-6.col-sm-12.about-w3ls1 img.img-responsive {
    height: 260px;
}
section.about-agileits h3 {
    font-size: 22px;
    line-height: 30px;
    font-weight: 100;
    padding-bottom: 10px;
}
section.about-agileits ul.about-links li a.about-link1, section.about-agileits ul.about-links li a.about-link2 {
    width: 140px;
    line-height: 34px;
    height: 35px;
}
section.about-agileits ul.about-links li:nth-child(1) {
    margin-right: 0px;
}
section.staff-agileinfo h3.text-center {
    padding-bottom: 20px;
	font-size:30px;
}
.view h4 {
    margin: 90px 0 0 0;
}
section.subs .subscribe input#mail {
    font-size: 15px;
    width: 100%;
    border-right: 1px solid #fff;
}
section.subs .subscribe button.btn.btn-outline.btn-lg {
    font-size: 15px;
    font-weight: 100;
    width: 100%;
}
section.portfolio-agileinfo .nav-tabs > li:nth-child(1) {
    margin-left: 0px;
}
section.portfolio-agileinfo .nav-tabs > li > a {
    font-size: 14px;
    padding: 7px 14.5px;
}
section.portfolio-agileinfo .portfolio-grids {
    padding: 0;
    width: 100%;
    float: left;
}
section.portfolio-agileinfo i.fa.fa-search-plus {
    font-size: 30px;
    padding-top: 70px;
}
section.contact-wthree ul.contact-info li p.contact-p1 {
    margin: -41px 0 5px 15px;
}
section.contact-wthree ul.contact-info li p.contact-p2 {
    margin: 0px 0 15px 15px;
}
section.footer-wthree p.copyright {
    font-size: 14px;
    line-height: 30px;
    padding: 20px 10px;
}
span.line6 {
	bottom:90px;
}
section.about-agileits .modal-header h4 {
	font-size:25px;
	font-weight:100;
}
section.about-agileits button.close {
	right: 20px;
    top: -2px;
}
section.footer-wthree ul.footer-news {
	padding: 30px 0 0;
}
#lightninBox {
	padding: 7px;
}
#lightninBox .lb-next,#lightninBox .lb-prev {
	background-size: initial;
	top: 44%;
    width: 30px;
    height: 30px;
}
#lightninBox .lb-next {
	right: 10px;
}
#lightninBox .lb-prev {
	left:10px;	
}
}

@media (max-width:384px) {
section.banner-w3ls .banner-agileits h2 {
    font-size: 18px;
    padding-bottom: 5px;
    line-height: 30px;
}
.search-w3ls {
	width:295px;
}
section.banner-w3ls .banner-agileits {
    margin-top: 135px;
}
.header {
    height: 230px!important;
}
section.info-w3l i.fa {
    margin-left: 20px;
}
section.about-agileits .modal-header h4 {
	font-size: 25px;
    font-weight: 100;
}
section.about-agileits button.close {
    font-size: 50px;
	right: 20px;
    top: 3px;
}
.view h4 {
    margin: 70px 0 0 0;
}
section.portfolio-agileinfo i.fa.fa-search-plus {
    font-size: 30px;
    padding-top: 60px;
}
section.portfolio-agileinfo .nav-tabs > li > a {
    font-size: 14px;
    padding: 7px 11.5px;
}
section.contact-wthree ul.contact-info li p.contact-p1 {
    margin: -41px 0 5px 30px;
}
section.contact-wthree ul.contact-info li p.contact-p2 {
    margin: 0px 0 15px 30px;
}
section.contact-wthree ul.contact-info li p.contact-p1 a, section.contact-wthree ul.contact-info li p.contact-p2 a {
    margin-left: 30px;
}
section.contact-wthree ul.contact-info li {
    margin: 0 auto;
    width: 60%;
}
section.subs h3 {
    font-size: 26px;
    font-weight: 100;
}
}

@media (max-width: 375px) {
section.about-agileits .about-w3l {
    padding: 30px 25px;
}
.view h4 {
    margin: 65px 0 0 0;
}
section.portfolio-agileinfo .nav-tabs > li > a {
    font-size: 13px;
    padding: 7px 12px;
}
}

@media (max-width:320px) {
.search-w3ls {
    width: 270px;
	right:15px;
}
section.banner-w3ls .banner-agileits {
    margin-top: 117px;
}
section.info-w3l i.fa {
    margin-left: 10px;
}
section.info-w3l .info-agile p {
    font-size: 13px;
}
section.service-w3l p.serv-p1 {
    font-size: 13px;
}
section.service-w3l p.serv-p2 {
    font-size: 13px;
}
.col-lg-6.col-md-6.col-sm-12.about-w3ls1 img.img-responsive {
    height: 215px;
}
section.about-agileits h3 {
    font-size: 18px;
}
section.about-agileits h3 span.fa.fa-diamond {
    font-size: 20px;
}
section.about-agileits p {
    font-size: 13px;
}
section.about-agileits ul.about-links li a.about-link1, section.about-agileits ul.about-links li a.about-link2 {
    width: 250px;
    margin-bottom: 10px;
    line-height: 34px;
    height: 35px;
}
.view h4 {
    margin: 40px 0 0 0;
}
section.subs h3 {
    font-size: 26px;
}
section.subs p {
    font-size: 13px;
}
.subscribe {
    margin-top: 25px;
}
section.portfolio-agileinfo .nav-tabs > li > a {
    font-size: 13px;
    padding: 7px 6px;
}
section.portfolio-agileinfo i.fa.fa-search-plus {
    font-size: 30px;
    padding-top: 30px;
}
section.contact-wthree ul.contact-info li {
    margin: 0 auto;
    width: 70%;
}
section.contact-wthree label {
    font-size: 13px;
	padding-bottom:7px;
}
section.contact-wthree input#name, section.contact-wthree input#phone, section.contact-wthree input#email, section.contact-wthree textarea#message {
    font-size: 14px;
}
section.footer-wthree ul.tweet-agile li p.tweet-p1 {
    font-size: 13px;
}
section.footer-wthree ul.tweet-agile li p.tweet-p2 {
    margin-left: 40px;
	font-size:12px;
}
section.footer-wthree .demo > li img {
    width: 115px;
}
a.navbar-brand {
    margin: 20px 0 0 0px;
}
.navbar-toggle {
    margin-top: 17px;
    margin-right: 0px;
    border: 1px solid #fff!important;
}
img.center {
    display: block;
    margin: 0 auto;
}
}
/*-- /responsive design --*/